/* color pallate from schemecolor.com */
:root {
    --dark: #0D0D0D;
    --lava: #CC1C1D;
    --smoke: #2C2C2C;
    --light: #ffffff;
}

* {
    font-family: 'Poppins', sans-serif;
}


#bio {
    border-left: solid;
    border-color: var(--lava);
}

#project-cards {
    border-left: solid;
    border-color: var(--lava);
}

#contact-info {
    border-left: solid;
    border-color: var(--lava);
}

header {
    background-color: var(--dark);
    color: var(--light);
    padding: 1.5rem;
}

body {
    background-color: var(--smoke);
}

p, li {
    color: var(--light);
}

h2, h5 {
    color: var(--lava);
}

a {
    color: var(--light);
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    color: var(--lava);
}

.nav-link {
    color: var(--light);
}

.nav-link:hover {
    color: var(--lava);
}

button {
    background-color: var(--smoke);
}

.card-text {
    color: var(--light);
}

.card-body {
    background-color: var(--dark);
}

.card {
    border-color: var(--smoke);
}

.contact-section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.work-section {
    margin-top: 50px;
}

.about-section {
    margin-top: 50px;
}

footer {
    background-color: var(--dark);
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 1rem;
}

h1, h2 {
    text-align: center;
}

.headshot {
    width: 62%;
    height: auto;
}

.headshot-picture {
    align-items: center;
}

h1 {
    font-size: 6rem;
}

.tag-line {
    color: var(--lava);
    font-size: 1.5rem;
}

.contact-li {
    line-height: 3rem;
}